.Header{
    height: 74px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 44px;
// width: 100% !important;
    .left{
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .heading{
            font-size: 26px;
            font-weight: 600;
            font-family: Inter;
        }

        .subHeading{
            margin-left: 18px;
            font-size: 13px;
            font-weight: 400;
            margin-top: -7px;
        }
    }
    // .left:hover{
    //     cu
    // }

    .right{
        font-size: 16px;
        font-weight: 600;
        display: flex;
        gap: 75px;
        margin-top: 5px;
        align-items: center;
        
        .myAccount{
            position: relative;      
            
            .dropdown{
                color: white;
                background-color: black;
                position: absolute;
                top: 40px;
                left: -48px;
                display: flex;
                flex-direction: column;
                // gap: 5px;
                width: 180px;
                span{
                    padding: 10px;
                    text-align: end;
                }
                span:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
        
        span:hover{
            cursor: pointer;
        }
    }
}

.popups {
    padding: 40px 60px;
    // padding: 0;
    background: #F9F9F9;

    .contents {
        padding: 40px 60px;
        // padding: 0;
        background: #F9F9F9;
        border-radius: 3px;

        .titles {
            font-weight: 600;
            font-size: 25px;
        }

        .inputs {
            margin-top: 42px;
            

            .ips {
                box-sizing: border-box;
                padding: 11px 19px;
                width: 251px;
                height: 41px;
                border-radius: 3px;
                border: 1px solid #000000;
            }

            .ip1 {
                margin-top: 20px;
            }
        }

        .submits {
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            width: 113px;
            height: 43px;
            background-color: black;
            color: white;
            border: none;
            margin-top: 25px;
            margin-bottom: 61px;
        }

        .bottom{
            margin-top: 80px;

            a{
                text-decoration: none;
                color: #108FB7;
            }
        }
    }
}
@media screen and (max-width: 540px) {
.popups {
    // padding: 40px 60px;
    padding: 10px 10px;
    background: #F9F9F9;

    .contents {
        padding: 0;
        // padding: 0;
        background: #F9F9F9;
        border-radius: 3px;

        .titles {
            font-weight: 600;
            font-size: 20px;
        }
 .paragraph{
            // width: 90%;
            border: 1px solid red;
        }
        .inputs {
            margin-top: 42px;
            

            .ips {
                box-sizing: border-box;
                padding: 11px 19px;
                width: 200px;
                height: 41px;
                border-radius: 3px;
                margin-left: 15px;
                border: 1px solid #000000;
            }

            .ip1 {
                margin-top: 20px;
            }
        }

        .submits {
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            width: 113px;
            height: 43px;
            background-color: black;
            color: white;
            border: none;
            margin-top: 25px;
            margin-bottom: 61px;
            margin-left: 15px;
            border-radius: 5px;
        }
       

        .bottom{
            margin-top: 80px;

            a{
                text-decoration: none;
                color: #108FB7;
            }
        }
    }
}

}