.Header{
    height: 63px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 44px;
// width: 100% !important;
    .left{
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .heading{
            font-size: 27px;
            font-weight: 600;
        }

        .subHeading{
            margin-left: 18px;
            font-size: 13px;
            font-weight: 400;
        }
    }
    // .left:hover{
    //     cu
    // }

    .right{
        font-size: 16px;
        font-weight: 600;
        display: flex;
        gap: 75px;
        
        .myAccount{
            position: relative;      
            
            .dropdown{
                color: white;
                background-color: black;
                position: absolute;
                top: 40px;
                left: -48px;
                display: flex;
                flex-direction: column;
                // gap: 5px;
                width: 180px;
                span{
                    padding: 10px;
                    text-align: end;
                }
                span:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
        
        span:hover{
            cursor: pointer;
        }
    }
}